**/.DS_Store
.vscode/settings.json
UDF/geographical/*
UDF/string/*
udf/numerical/*
automdfiles.env
algorithms/automdfiles.py
algorithms/.env
algorithms/lmao.py
algorithms/automd.py
tmp
.pytest_cache
__pycache__
.env
*.xml
